<!DOCTYPE html>
    <head>
        <title>
            Edit Image Repository
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    </head>

    <body class="text-center">
        <h1 class='display-1'>Add Images</h1>
        <hr/>
        <form action="/edit/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="title">Title:</label>
            <input type="text" name="title" required/>
            <label for="description">Description:</label>
            <input type="text" name="description" required/>
            <label for="price">Price:</label>
            <input type="number" name="price" required/>
            <div class="m-3">
                <input type="file" id="input-file-now" class="file-upload" name="uploadedImg" required/>
            </div>
            <button class="btn btn-primary" type="submit">Upload Image</button>
        </form>
        
        <table class="table">
            <hr/>
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for img in ImageRepository %}
                <tr>
                    <td>{{img.title}}</td>
                    <td>{{img.description}}</td>
                    <td><img src="{{ img.image.url }}" height="100px"/></td>
                    <td><a class="btn btn-danger" href="{% url 'deleteImage' id=img.id %}">Remove Image</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>