<!DOCTYPE html>
    <head>
        <title>
            Image Repository
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    </head>

    <body class="text-center">
        <h1 class='display-1'>Image Repository</h1>
        <p><a href='./edit'>Edit Images</a></p>
        <hr>
        {% for img in ImageRepository %}
        <img src="{{ img.image.url }}" data-toggle="tooltip" title="{{ img.price }}" alt="{{ img.title }}"> 
        <blockquote class="blockquote">{{ img.title }}</blockquote>
        <footer class='blockquote-footer'>{{ img.description }}</footer>
        <hr>
        {% endfor %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>